<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Game Website</title>

    <!-- Favicon -->
    <link rel="icon" href="./static/favicon/favicon.png" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/css/author.css" />
    <link rel="stylesheet" href="./static/css/common.css" />
    <link rel="stylesheet" href="./static/css/game_card.css" />
    <link rel="stylesheet" href="./static/css/games.css" />
    <link rel="stylesheet" href="./static/css/header.css" />
    <link rel="stylesheet" href="./static/css/toc.css" />

    <!-- ScrollRevealJS-->
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <body>
    <!-- Header -->
    <h1 class="title" id="title" data-value="Gamer">Gamer</h1>

    <!-- Navigation -->
    <div class="description"></div>
    <div class="ToC">
      <h2>Table of Contents</h2>
      <ul>
        {% for g in games_list %}
        <li><a href="#{{ g.id }}">{{ g.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <!-- Main Content -->
    <div class="games">
      <!-- Each Game -->
      {% for g in games_list %}
      <div id="{{ g.id }}" class="game">
        <h2 class="game-title">
          <a
            class="game-link"
            href="{{ g.link }}"
            target="_blank"
            title="Link to {{ g.name }} website."
            >{{ g.name }}</a
          >
        </h2>
        <div class="game-card">
          <img
            src="{{ g.image }}"
            class="gameImg"
            title="{{ g.name }}"
            alt="{{ g.name }}"
          />
          <p class="gamePara">{{ g.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Authors -->
    <div class="screen">
      <div class="screen-image"></div>
      <div class="screen-overlay"></div>
      <div class="screen-content">
        <i class="screen-icon fa-brands fa-codepen"></i>
        <div class="screen-user">
          <span class="name" data-value="Authors">Authors</span>
          <a class="link" href="https://github.com/Hardvan" target="_blank"
            >@Hardvan</a
          >
          <a class="link" href="https://github.com/Krounosity" target="_blank"
            >@Krounosity</a
          >
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="refers">
      <h2>References</h2>
      <p id="refer1">
        [1].
        <a
          class="genshinWiki"
          href="https://en.wikipedia.org/wiki/Genshin_Impact"
          >Paragraph 2, Wikipedia</a
        >. Retrieved 29 June 2023.
      </p>
      <p id="refer2">
        [2].
        <a class="rocketWiki" href="https://en.wikipedia.org/wiki/Rocket_League"
          >Paragraph 2, Wikipedia</a
        >. Retrieved 29 June 2023
      </p>
      <p id="refer3">
        [3].
        <a class="brawlWiki" href="https://en.wikipedia.org/wiki/Brawl_Stars"
          >Paragraph 1, Gameplay, Wikipedia</a
        >. Retrieved 29 June 2023.
      </p>
      <p id="refer4">
        [4]. <a class="Wiki" href="">Wikipedia</a>. Retrieved ------
      </p>
      <p id="refer5">
        [5]. <a class="Wiki" href="">Wikipedia</a>. Retrieved ------
      </p>
      <p id="refer6">
        [6]. <a class="Wiki" href="">Wikipedia</a>. Retrieved ------
      </p>
      <p id="refer7">
        [7]. <a class="Wiki" href="">Wikipedia</a>. Retrieved ------
      </p>
    </div>

    <!-- Back to Top Button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!-- Custom JS -->
    <script src="./static/js/index.js"></script>
  </body>
</html>
